<header class="headerTop ">
    <div class="wrapper clearfix">
        <div class="menuThin visible-sm-inline-block visible-xs-inline-block">
            <a href="#" class="dropdown-toggle smallMenuA">T</a>
        </div>
        <div class="delimetersmall delimeter visible-sm-inline-block visible-xs-inline-block"></div>
        <div class="lang" langs-list-directive langs="langs"></div>
        <div class="delimeter"></div>
        <div class="cart">
            <a href="cart.html">
                <span class="cartIcon">n</span>
                <span class="cartCount">1</span>
            </a>
        </div>
        <div class="menu hidden-sm hidden-xs">
            <nav class="topMenu cl-effect-2">
                <a href="index.html" >Главная</a>
                <a href="products.html" >Товары</a>
                <a href="blog.html" >Блог</a>
                <a href="about_us.html" >О компании</a>
                <a href="contacts.html" >Контакты</a>
            </nav>
        </div>

    </div>
</header>

<header class="header ">
    <div class="wrapper">
        <div id='menuOpen' class="hidden menuThin visible-sm-inline-block visible-xs-inline-block">
            <a href="#" class="dropdown-toggle smallMenuA" >T</a>
        </div>
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="cart">
            <a href="cart.html">
                <span class="cartIcon">n</span>
                <span class="cartCount">1</span>
            </a>
        </div>
        <div class="menu hidden-sm hidden-xs">
            <nav class="mainMenu cl-effect-5">
                <a href="#" ><span data-hover='Мужские'>Мужские</span></a>
                <a href="#" ><span data-hover='Женские'>Женские</span></a>
                <a href="#" ><span data-hover='Детские'>Детские</span></a>
                <a href="#" ><span data-hover='Спортивные'>Спортивные</span></a>
            </nav>
        </div>

    </div>
</header>